@import "./fonts";

.management-part {
    row-gap: 20px;

    .search__box {
        height: 35px;
        width: 297px;
        background: #FFFFFF;
        border: 1px solid #717171;
        border-radius: 3px;

        input {
            width: 80%;
            border: none;
            outline: none !important;
            @include normal-semibold-13-font;

            &::placeholder {
                color: #717171;
            }
        }
    }

    .advanced-filter {
        height: 35px;
        width: 160px;
        left: 555px;
        top: 230px;
        background: #FFFFFF;
        border: 1px solid #717171;
        border-radius: 3px;
        cursor: pointer;

        .title {
            @include normal-semibold-13-font;
            color: #717171;
        }
    }

    .sort-driver-mileage {
        .sort {
            position: relative;
            height: 19px;
            width: 39px;
            background: #ffffff;
            border-radius: 20px;
            padding: 5px;
            cursor: pointer;

            .sort-btn {
                position: absolute;
                top: 1.5px;
                left: 1.5px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #C5C5C5;
            }
        }

        .title {
            @include normal-semibold-13-font;
            font-weight: bold !important;
            color: #00405B;
        }
    }

    .refresh {
        width: 92px;
        height: 35px;
        background: linear-gradient(180deg, rgba(15, 125, 172, 0.8) 0%, #000000 100%);
        border-radius: 3px;
        display: flex;

        span {
            @include normal-semibold-13-font;
            color: #fff;
        }
    }

    .date {
        height: 35px;
        width: 200px;
        background: linear-gradient(268.55deg, #E0F4FF 0%, #ECFFF9 100%);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        @include normal-semibold-15-font;
        font-size: 16px !important;
        text-transform: capitalize;
        color: #000000;
    }

    .pid {
        height: 35px;
        width: 200px;
        background: #FFFFFF;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;

        .caret {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: #717171;
            color: #fff;
            cursor: pointer;
        }
    }
}